* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-fundo: #f5f5f5;
    --cor-texto: #333;
    --cor-branca: #fff;
    --cor-primaria : #007bff;
    --cor-secundaria: #6c757d;
    --cor-borda: #ccc;
    --font-padrão: Arial, Helvetica, sans-serif;
    --espacamento: 10px;
}

body {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 50px;
    font-family: var(--font-padrão);
    line-height: 1.6;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 90%;
    max-width: 500px;
    margin: auto;
    background-color: var(--cor-branca); 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: var(--espacamento);

}

.form--notas {
    display: flex;
    flex-direction: column;
    gap: var(--espacamento);
}

.input-notas {
    width: 100%;
    padding: var(--espacamento);
    border-radius: 5px;
    border: 1px solid var(--cor-borda);
    background-color: var(--cor-branca);
    transition: all 0.3s ease;
}

.input-notas:focus {
    outline: none;
    border-color: var(--cor-primaria);
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.btn-calcular{
    background-color: var(--cor-primaria);
    color: var(--cor-branca);
    padding: var(--espacamento);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

}
.btn-calcular:hover {
    background-color: var(--cor-secundaria);
}