/* 1. Reset e Configurações Globais */
:root {
    --cor-fundo: #f4f4f4;
    --cor-branca: #ffffff;
    --cor-primaria: #28a745;
    --cor-secundaria: #218838;
    --cor-texto: #333;
    --cor-borda: #ccc;
    --font-padrao: Arial, sans-serif;
    --espacamento: 20px;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-padrao);
  }
  
  body {
    background-color: var(--cor-fundo);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: var(--espacamento);
  }
  
  /* 2. Estilos Gerais */
  .container {
    background: var(--cor-branca);
    padding: var(--espacamento);
    width: 90%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);   
    text-align: center;
  }

/* 3. Estilização do Título e Subtítulos */
.title {
    font-size: 24px;
    color: var(--cor-texto);
    margin-bottom: var(--espacamento);
}

.subtitle {
    font-size: 20px;
    color: var(--cor-texto);
    margin-top: var(--espacamento);
    margin-bottom: 10px;
    text-align: left;
}

/* 4. Estilização do Formulário */
.foirm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
